
@{
    ViewBag.Title = "Edit";
}

<button type="button" class="btn btn-primary btn-lg btn-block"><h2>Edit</h2></button>

<form action="/BuildingDetails/Edit" method="post">

    <input type="text" name="buildingCode" value="@Model.buildingCode" placeholder="BUILDING CODE" class="form-control" />
    <input type="text" name="floorDetails" value="@Model.floorDetails" placeholder="FLOOR DETAILS" class="form-control" />
    <input type="text" name="flatNo" value="@Model.flatNo" placeholder="FLAT NO" class="form-control" />

    <input type="submit" value="Update" />

</form>

