@model List<midproject.Models.Database.building>
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<button type="button" class="btn btn-primary btn-lg btn-block"><h2><b>Buildings</b></h2></button>

<table class="table table-bordered">
    <tr>
        <th>COLONY CODE</th>
        <th>USERNAME</th>
        <th>BUILDING NAME</th>
        <th>BUILDING CODE</th>
        <th>ACTION</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.colonyCode</td>
            <td>@c.username</td>
            <td>@c.buildingName</td>
            <td>@c.buildingCode</td>
            <td><a href="/Buildings/Edit/@c.buildingCode" class="btn btn-success">Edit</a> <a href="/Buildings/Delete/@c.buildingCode" class="btn btn-danger">Delete</a> </td>
        </tr>
    }

</table>



