@model List<midproject.Models.Database.buildingDetail>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>BUILDING CODE</th>
        <th>FLOOR DETAILS</th>
        <th>FLAT NO</th>
        <th>ACTION</th>


    </tr>

    @foreach (var b in Model)
    {
        <tr>
            <td>@b.buildingCode</td>
            <td>@b.floorDetails</td>
            <td>@b.flatNo</td>
            <td><a href="/Colony/Edit/@b.buildingCode" class="btn btn-success">Edit</a> <a href="/Colony/Delete/@b.buildingCode" class="btn btn-danger">Delete</a> </td>



        </tr>
    }

</table>
