@{
    ViewBag.Title = "About";
}
<br />
<button type="button" class="btn btn-primary btn-lg btn-block"><h2><b>About</b></h2></button>

<p>
    Bill Man is a Complete solution for Building/Aparment/Colony Management. In this Pandemic situation, we had restricted outsider in the room premises or the house premises. But If we rent something, the Owner need to visit the renter person area to collect the rental Amount. Even Many times it tough to keep record. So, using our application Owner or the Rental person don't need to visit each other. They can pay through their Online Platform. Even if they required any services. that they can request through our system. There will be following some special Feature like, Paying Utility Bill though Online Banking, Purchase Household product, Request a Household Services. Even House Owner or the Colony Committee can give general notice or rental notice though the system.
</p>
