@{
    ViewBag.Title = "Contact";
}

<br />
<button type="button" class="btn btn-primary btn-lg btn-block"><h2><b>Contact Us</b></h2></button>

<p>
    
    Corporate Office:<br />
    Plot No.-314/A, Road: 18, Block-E,<br />
    Bashundhara Avenue Road, Bashundhara R/A,<br />
    Dhaka-1229<br />

    Phone: +880-2-8401883-5<br />
    For Land: +8801713144718, +8801713144734<br />
    +8801730373889, +8801717481500<br />
    For Apartment: +8801730373890, +8801755538279<br />

    Fax: +880-2-8401887<br /><br />


    Sales Office:<br />
    BCIC Bhaban (3rd Floor),<br />
    30-31 Dilkusha C/A,<br />
    Dhaka-1000<br />

    Phone: +88-2-9560600, +88-2-9565413, +88-2-9557962<br />
    Fax: +880-2-9564192<br />


    E-mail: bdc.mkt@bdg.com.bd<br />
    Web: www.bdg.com.bd<br />
</p>