@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center"><b>COLONY HOME</b></h1>

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Colonys</h2>
        <p><a class="btn btn-warning" href="/Colony/ColonyDetails">Show &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Buildings</h2>
        <p><a class="btn btn-warning" href="/Colony/Buildings">Show &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Building Details</h2>
        <p><a class="btn btn-warning" href="/Colony/BuildingDetails">Show &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Flat Numbers</h2>
        <p><a class="btn btn-warning" href="/FlatNumbers/Index">Show &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Wasa Bills</h2>
        <p><a class="btn btn-warning" href="/WasaBills/Index">Show &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Current Bills</h2>
        <p><a class="btn btn-warning" href="/CurrentBills/Index">Show &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Flat Rents</h2>
        <p><a class="btn btn-warning" href="/FlatRents/Index">Show &raquo;</a></p>
    </div>

</div>

<div align="center">
    <h2>Gallary</h2>
    <img src="../Content/building1.jpg" class="img-fluid" alt="Responsive image" width="1150"><br /><br />
    <img src="../Content/building2.jpg" class="img-fluid" alt="Responsive image" width="1150">
</div>
<br />
<br />






