
@{
    ViewBag.Title = "Teams";
}

<br />
<button type="button" class="btn btn-primary btn-lg btn-block"><h2><b>Terms of Service</b></h2></button>
<p>
    <br /> A.1 Brief: Statements and materials assembled by the Client with the Building Designer’s assistance to summarise the Client’s initial requirements, to address the Client’s preferences and priorities, and to summarise the impact of context, environment and prevailing legislation at the time of signing this Agreement.

    <br /> A.2 Construction Cost: The latest professionally prepared estimate for the final cost of constructing all elements of the Project designed or specified by the Building Designer, including:

    <br /> Any contingencies for changes in work or design reserve cost allowances
    The cost of any equipment and/or materials provided (as if new) or to be provided by the Client to a contractor for installation during construction of the Project
    Any direct costs carried out by, or on behalf of, the Client
    Provision for contractor’s profit and overheads.
    <br />The Construction Cost shall not include:
    <br />GST
    <br /> Design fees
    Cost of the land
    Any loss and/or expense payments paid to a contractor
    Any liquidated damages deducted by the Client
    The costs of resolution of any dispute
    The Client’s legal and in-house expenses.
    <br /> A.3 Agreement: the agreement between the Client and the Building Designer consisting of Parts 1, 2, 3 and 4 of this document and all attachments listed.

    <br /> A.4 Building Designer: The person, company or firm identified as the Building Designer in Part 1 of this Agreement.

    <br /> A.5 Client: The person, company or firm identified as the Client in Part 1 of this Agreement.

    <br /> A.6 Consultant: A person, company or firm appointed by the Client to perform professional services in connection with the Project.

    <br />A.7 Fee Proposal: The fee structure set out in Part 2 of this Agreement that is payable to the Building Designer as agreed by the Client and the Building Designer.

    <br /> A.8 Hourly Rates: The hourly charge-out rates of the Building Designer set out in section G of Part 2 of this Agreement.

    <br />A.9 Project: The project identified in Part 1 of this Agreement, more specifically detailed in section C of Part 2 of this Agreement.

    <br />A.10 Project Schedule: The period of time agreed by the Client and the Building Designer for completion of the Services as set out in section E of Part 2 of this Agreement.

    <br />A.11 Services: The Services to be performed by the Building Designer as specified in the Part 3 of this Agreement. Services may be varied by the Client in accordance with this Agreement.

    <br />A.12 Site: the premises where the Works are to be carried out.

    <br />A.13 Works: any permanent or temporary structure, building, fixture or access constructed or required to be constructed on the Site as part of the Project.

    <br /> B. Building Designer’s Obligations

    <br />B.1 The Client and the Building Designer shall work together in a spirit of mutual trust and cooperation. In relation to the Services, either party shall advise the other upon becoming aware of:

    <br />B.1.1 A need to vary the Services, the Project Schedule or Construction Cost, the fees and/or any other part of this Agreement
    <br />B.1.2 Any incompatibility with any of the Client’s requirements in the Brief or between the Brief, any Client’s instructions, the Construction Cost, the Project Schedule and/or the approved design or any need to vary any part thereof
    <br />B.1.3 Any information or decisions required from the Client or others in connection with the performance of the Services
    <br />B.1.4 A need to appoint consultants or other persons to design or carry out any part of the Works or to provide specialist advice or additional inspection services in connection with the Project, and the parties shall agree how to deal with the matter.
    <br />B.2 The Building Designer shall provide the Services set forth in this Agreement exercising a reasonable level of skill and care ordinarily provided by Building Designers practicing in the same or similar locality under the same or similar circumstances.

    <br />B.3 The Building Designer shall perform the Services with due regard to any schedule, including the Project Schedule, and/or budget agreed with the Client. Notwithstanding the aforesaid, the Building Designer does not warrant that the Services or the Project will be completed in accordance with any such schedule or budget, nor does the Building Designer warrant that approvals from third parties will be granted.
</p>
