
@{
    ViewBag.Title = "subEdit";
    Layout = "~/Views/Shared/_employeelogins.cshtml";
}


<div class="content" style="margin-left:300px;">
    <br />
    <a class="btn btn-danger" style="margin-left:980px;" href="/employee/subList">Back</a>
    <h3>Edit</h3>
    <form action="/employee/subEdit" method="post">
        <label>User Name : </label><input type="text" name="username" value="@Model.username" placeholder="User Name" class="form-control" />
        <label>Payment Status: </label><input type="text" name="paymentstatus" value="@Model.paymentstatus" placeholder="Payment Status" class="form-control" />
        <label>Date Of Payment : </label><input type="text" name="DOP" value="@Model.DOP" placeholder="Date Of Payment" class="form-control" />
        <input class="btn btn-danger" type="submit" value="Update" />

    </form>
</div>


