
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<from action="/Colony/Create" method="post">
    <input type="text" name="buildingCode" placeholder="BUILDING CODE" class="form-control" />
    <input type="text" name="floorDetails" placeholder="FLOOR DETAILS" class="form-control" />
    <input type="text" name="flatNo" placeholder="FLAT NO" class="form-control" />
   
    <input type="submit" value="Add" />

</from>
