
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<form action="/Colony/Delete" method="post">

    <input type="text" name="buildingCode" value="@Model.buildingCode" placeholder="BUILDING CODE" class="form-control" />
    <input type="text" name="floorDetails" value="@Model.floorDetails" placeholder="FLOOR DETAILS" class="form-control" />
    <input type="text" name="flatNo" value="@Model.flatNo" placeholder="FLAT NO" class="form-control" />

    <input type="submit" value="Delete" />

</form>
