
@{
    ViewBag.Title = "request";
}

<br />
<button type="button" class="btn btn-primary btn-lg btn-block"><h2><b>Request Conformation</b></h2></button>


<p>Request done successfully.....!</p>
<br />
Go To Colony-<a href="/Colony/ColonyDetails">Click Here</a>